# {{ ansible_managed }}

# This configuration file is used to set values such as default lookup paths
# and storage backend settings for LXC.

# lxc.lxc_path: The location in which all containers are stored.
{% if lxc_lxcpath is defined %}
lxc.lxcpath = {{ lxc_lxcpath }}
{% endif %}

# lxc.default_config: The path to the default container configuration.
{% if lxc_default_config is defined %}
lxc.default_config = {{ lxc_default_config }}
{% endif %}

# lxc.cgroup.used: Comma separated list of cgroup controllers to setup.
#                  If none is specified, all available controllers will be used.
{% if lxc_cgroup_use is defined %}
lxc.cgroup.use = {{ lxc_cgroup_use }}
{% endif %}

# lxc.cgroup.pattern: Format string used to generate the cgroup path
#                     (e.g. lxc/%n).
{% if lxc_cgroup_pattern is defined %}
# lxc.cgroup.pattern = {{ lxc_cgroup_pattern }}
{% endif %}

# lxc.bdev.lvm.vg: Default LVM volume group name.
{% if lxc_bdev_lvm_vg is defined %}
lxc.bdev.lvm.vg = {{ lxc_bdev_lvm_vg }}
{% endif %}

# lxc.bdev.lvm.thin_pool: Default LVM thin pool name.
{% if lxc_bdev_lvm_thin_pool is defined %}
lxc.bdev.lvm.thin_pool = {{ lxc_bdev_lvm_thin_pool }}
{% endif %}
